The product shall produce search results in an acceptable time.
The search results shall be returned no later 30 seconds.
The search for recycled parts shall take no longer than 15 seconds.  
The recycled parts shall be returned to the user within 10 seconds.
The search results shall be returned in under 15 seconds.
The search for the preferred repair facility shall take no longer than 8 seconds.
The product shall generate a CMA report in an acceptable time.
The CMA report shall be returned no later 60 seconds after the user has entered the CMA report criteria.
The product shall synchronize contacts and appointments in an acceptable time.
The preferred repair facility is returned within 8 seconds
The audit report shall be returned within 10 seconds.
The preferred repair facility ratings shall be saved within 5 seconds. 
The save shall occur within 5 seconds.
The response shall be fast enough to avoid interrupting the user’s flow of thought.  
90% of tasks shall complete within 5 seconds.  
98% of tasks shall complete within 8 seconds.
The System shall allow for a minimum of 6 users to work at the same time.
Recreation of Inventory Quantity Adjustment for the period of previous 30 days shall take no more than 30min.
Customer shall be able to check the status of their prepaid card by entering in the PIN number in under 5 seconds.
Administrator shall be able to activate a pre-paid card via the Administration section in under 5 seconds.
System shall let customers register on the website as a "pay as you go" user in under 5 minutes.
System shall let customers register on the website as a "unlimited movie subscriber" user in under 10 minutes.
System shall let existing customers log into the website with their email address and password in under 5 seconds.
System shall let customers cancel their account process shall take no longer than 2 minutes.  
Database will mark the account as inactive and user will not be able to log into the website.
System shall let administrator de-activate a customer account in under 1 minute. Customer will no longer be able to access the website.
System shall let administrator add/remove movies on the website in under 5 minutes.  Entered movie information will be stored in the database and will now be available on the website.
System shall let the administrator add/remove categories on the website in under 5 minutes.
System shall let Izogn Manager access sales and usage statistics in under 2 minutes.
System shall let administrators generate unique pre-paid pins in under 2 minutes and generate an Excel file with the generated PINs.
Any interface between a user and the automated system shall have a maximum response time of 5 seconds unless noted by an exception below.
When purchasing a streaming movie or pre-paid card via credit card the processing time should have a maximum response time of 15 seconds.
When streaming a movie the buffering time should take no longer than 10 seconds (plus any latency on the user’s connection.)
While streaming a movie buffering should only occur if there is latency in the user’s connection.
Izogn Administrator must be able to update the category listings on the website within 2 minutes.
Izogn Administrator must be able to add new products to the website within 2 minutes.
The website will provide a help section with answers and solutions to common problems.
The product shall be available for use 24 hours per day 365 days per year.
Out of 1000 accesses to the system the system is available 999 times.
The system shall achieve 95% up time.
The system will be available 99% of the time during the first six months of operation.
The product shall adhere to the corporate online availability schedule.  
The application is brought down only within 98% of the scheduled outages per the availability schedule.
The product shall achieve a 98% uptime. The product shall not fail more than 2% of the available online time.
The product shall be able to handle up to 1500 simultaneous users. 
The system shall perform with 1500 users as a time.
The system shall achieve 99.5% up time.
All movies shall be streamed on demand at any time of the day.
The product shall be able to support multiple remote users.
The product shall be able support 1000 simultaneous users.
System shall be able to handle all of the user requests/usage during business hours.
The system shall cater to 10 simultaneous users from 9am to 5pm.
The system shall be expected to manage the nursing program curriculum and class/clinical scheduling for a minimum of 5 years.
The product shall be capable of handling the existing 1000 users.
This number is expected to grow 5 times within the next year.
The average number of recycled parts records per day shall be 50 000.
The product shall be able to handle 10 000 concurrent users within 2 years of the initial launch.
The product shall be capable of handling up to 1 000 concurrent requests.  
This number will increase to 2 000 by Release 2.  
The concurrency capacity must be able to handle peak scheduling times such as early morning and late afternoon hours.
The product shall be able to process 10 000 transactions per hour within two years of its launch. 
The product shall be expected to operate for at least 5 years for each customer installation. 
The website shall be available for use 24 hours per day 365 days per year.
The streaming server will support 50 simultaneous streaming connections.
The streaming server will support a maximum of 700 movies; new servers can be added to support more movies.
The server will support a maximum of 1 000 simultaneous users.
The website shall be capable of supporting 100 000 customers.
Only registered realtors shall be able to access the system.
Every user of the system shall be authenticated and authorized.
The product shall prevent its data from incorrect data being introduced.
Only authorized users shall have access to clinical site information.
Program Administrators/Nursing Staff Members are the only people who shall have access to clinical site details.
Only authorized users shall have access to students’ personal information.
Dr Susan Poslusny and Dr Julie Donalek are the only people who shall have access to students’ personal information.
Only authorized users shall have access to the portion of the system that interfaces with CampusConnect.
Dr Susan Poslusny and Karen Sysol are the only people who shall have access to the final class section scheduling for the system that interfaces with CampusConnect.
The system shall have basic data integrity checking to reduce the possibility of incorrect or invalid data being introduced.
The system shall protect private information in accordance with the organizations information policy.
The system shall be built such that it is as secure as possible from malicious interference.
Only users with Update access must be able to initiate dispute requests.
The system shall use the organization’s standard virus protection software to help monitor threats to itself.
The product shall prevent its data from incorrect data being introduced.
The Disputes application shall ensure that only authorized users are allowed to logon to the application.
All authorized users once authenticated must be able to logon to the Disputes System.
The Disputes System shall generate a User Report that details any new users that have been added and any changes to an existing user’s access level.  The report will be reviewed for auditing purposes.
All additions of new users and modifications to user’s access shall be recorded on the User Report.
If a user account is revoked it can only be re-instantiated by the System Administrator.
Only the System Administrator shall be able to reset a revoked user logon account.
The Disputes application shall manipulate and view business data. Users will not have direct access to data files or databases.
All updates to data files or database must be initiated from the Disputes System.
Only adjusters can request recycled parts audit reports. 
No users without an adjuster role shall request recycled parts audits.
Only adjusters with a supervisor role can update preferred repair facility ratings. 
Users without the supervisor role cannot access the repair facility ratings.
Only collision estimators shall search for recycled parts.  
Users without the collision estimator role shall not have access to the search for recycled parts.
Only valid data shall be entered into the system.  No invalid data shall be entered into the system.
One insurance company shall not be able to view another insurance company’s claim data.
The product shall free of computer viruses.
The system shall prevent malicious attacks including denial of service.
The system shall be intuitive and self-explanatory.
The product shall be easy for a realtor to learn.
The product shall ensure that it can only be accessed by authorized users.
The product will be able to distinguish between authorized and unauthorized users in all access attempts.
The user shall easily locate instructions while using the product.  User help can be found within 90% of the system.
The product shall allow the user to select a chosen language from one of the target market countries.
The product shall allow for customization of start page and views preferences.
An employee will be able to successfully use the product within a few minutes.  
After informally navigating the product for less than 15 minutes users shall be able to successfully setup meetings and reserve conference rooms.
The product shall use a standard navigation menu familiar to most web users.
The product shall allow for intuitive searching of available conference rooms.
The product shall conform to the Americans with Disabilities Act.
The product should be able to be used by 90% of novice users on the Internet.
Users should only have to navigate through a maximum of 4 pages to create an account with the website.
Users should be able to access their streaming movies in under 2 clicks after logging into the website.
An anonymous survey will show that 70% of customers are comfortable purchasing streaming movies after 2 weeks using the website.
An anonymous survey will show that 95% of customers are comfortable using and purchasing pre-paid cards after a month of using the system.
The product shall retain the customer’s buying preferences and information.
The product shall be easy for customers with novice skills on the Internet to purchase and watch streaming movies.  
Customers should be able to purchase and watch a pre-determined movie in under 3 minutes.
The product shall use symbols and words that are naturally understandable by users familiar with websites.
The website will use standard Internet conventions when interacting with the user.